body {
    background-image: url("images/background.jpg");
    min-height: 100%;
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-size: cover; 
}

.box-shadow {
    box-shadow: 0 .25rem .75rem rgba(0, 0, 0, .05);
}

.container {
    margin-bottom: -15px;
}

.vl {
    border-left: 1px solid white;
    height: 390px;
    position: absolute;
    left: 50%;
    top: 130px;
}

.gameArea {
    margin-top: 1em;
}

.players {
    color: white;
    font-size: 0.8em;
}

.scoreDisplay {
    color: white;
}

table, tr, td {
    text-align: center;
    padding-bottom: 0.7em;
}

.tombol {
    width: 130px;;
}

.kolom1 {
    padding-right: 1.5em;
}

.kolom2 {
    padding-left: 1.5em;
}

.tambahBiru {
    background-color: blue;
    color: white;
}

.tambahEmas {
    background-color: gold;
}

#kolomAngka {
    width: 6em;
}

#reset {
    width: 200px;
}

.winner {
    color: green;
    text-shadow: 0 .25rem .75rem rgba(0, 0, 0, 3);
}

footer {
    color: white;
    text-align: center;
    font-size: 0.8em;
    height: 100px;
    padding-top: 1.5em;
    margin-top: 2em;
}